* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bgImage {
    background-image: url(./images/backgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #4a4a4a;
    border-radius: 5px;
    padding-top: 0.5rem;
}

.display {
    background-color: #fff;
    padding: 2rem;
}

.buttons {
    padding: 5px 0;
}

.btn {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    padding: 10px 15px;
}